<div class="title">
  <h1 mat-dialog-title>Nouvelle mission</h1>
</div>
<div mat-dialog-content>
  <p>Titre</p>
  <mat-form-field>
    <input matInput [(ngModel)]="event.title">
  </mat-form-field>
  <p>Description</p>
  <mat-form-field>
    <input matInput [(ngModel)]="event.description">
  </mat-form-field>
  <p>Couleur</p>
  <mat-form-field>
    <mat-label>Choisier une couleur</mat-label>
    <mat-select [(ngModel)]="event.color">
      <mat-option value="blue">Bleu</mat-option>
      <mat-option value="red">Rouge</mat-option>
      <mat-option value="green">Vert</mat-option>
      <mat-option value="purple">Violet</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Personne</p>
  <mat-form-field>
    <mat-label>Choisier une personne</mat-label>
    <mat-select [(ngModel)]="event.resourceId">
      <mat-option *ngFor="let person of persons" value="{{person.id}}">{{ person.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fermer</button>
  <button mat-button [mat-dialog-close]="event">Ok</button>
</div>
